/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

/* -------------------------------------------------------
 * Excerpts Only - from initializr-responsive/css/main.css
 * -------------------------------------------------------
 *
 * For more information, see the README.md file in this directory
 *
 */

/* ---------------------------------------------------
 * Lines 87-121 of initializr-responsive/css/main.css
 * --------------------------------------------------
 */

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ---------------------------------------------------
 * Lines 145-152 of initializr-responsive/css/main.css
 * ---------------------------------------------------
 */

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}


/* ---------------------------------------------------
 * Lines 171-208 of initializr-responsive/css/main.css
 * ---------------------------------------------------
 */

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

/* ---------------------------------------------------
 * Lines 223-234 of initializr-responsive/css/main.css
 * ---------------------------------------------------
 */

@media only screen and (min-width: 768px) {

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

}

