{% extends "base.html" %}
{% block title %}Books and Sites{% endblock %}
{% block head %}
  {{ super() }}
  <style>
  </style>
{% endblock %}

{% block content %}
 <main>
  <div class="container">
   <div class="row">
    <div class="col-md-12">
     <section id="books-and-sites">
      <h3>Books and Sites</h3>
      <p>
       What I learned from these books form the foundation for
        these Spiritual Portraits.</p>
      <p>
       The web sites make much of this information quickly available to
        those interested in learning more.</p>
     </section><!-- #books-and-sites -->
    </div><!-- .col-md-12 -->
   </div><!-- .row -->

   <div class="row">
    <div class="col-md-8">
     <section id="books">
      <h4>Books</h4>
      <p>
       These books all contributed to this idea of creating the Groja &copy; program.
       </p>
      <dl class="standalone">
       <dt>
        <em>Psychological Types</em> by Carl Jung, 1921.</dt>
       <dd>
        This is the original work that inspired many of us to learn about our differences.
        For more information, see the sidebar.</dd>
       <dt>
        <em>Gifts Differing</em> by Isabel Briggs Myers and Peter Myers, 1980.</dt>
       <dd>
        This book by the originator of the Myers-Briggs Type Indicator (MBTI) makes
         Jung's theories easier to understand &mdash; and even practical in
         our day-to-day lifes.</dd>
       <dt>
        <em>Please Understand Me</em> by David Keirsey, 1984.</dt>
       <dd>
        This book builds on Jung's and Myers' work.
        He groups the sixteen types into four temperaments, which makes it a lot
         easier to see these qualities at work in the people we interact with on a daily basis.
        It is also a good one to have because it starts off with a short yet accurate
         quiz that can help you determine your four-letter type fairly quickly.</dd>
       <dt>
        <em>Please Understand Me II.</em> by David Keirsey, 1998.</dt>
       <dd>
        This updated edition contains the same quiz as the original, but delves more deeply into
         the descriptions of how people who have the different temperaments and types interact.</dd>
      </dl>
      <p>
       You can definitely find a copy of any of these at
        <a href="http://www.amazon.com" title="Amazon.com home page" target="_blank">amazon.com</a>,
        and probably find all or most at your local public library.
       </p>
      <h4>Sites</h4>
      <p>
       Much of this information is now online and easily accessible, if you know where to look.
       </p>
      <p>
       Here are just a few other sites.
       </p>
      <dl class="standalone">
       <dt>
        <a href="" title="" target="_blank">wikipedia</a>
         </dt>
       <dd>
        <a href="" title="" target="_blank">wikipedia</a>
        is as good a place as any to get started.
         </dd>
       <dt>
         <a href="http://www.humanmetrics.com/">humanmetrics.com</a></dt>
       <dd>
         One of my favorites that has been around for awhile ....</dd>
       <dt>
         Myers-Briggs</dt>
       <dd>
         Making Jung's theories easier to understand and even more practical...</dd>
       <dt>
         Keirsey</dt>
       <dd>
         The one with the quick quiz and archetypes...</dd>
       <dt>
         Keirsey</dt>
       <dd>
         The one with the quick quiz and archetypes...</dd>
      </dl>
     </section><!-- #books -->
    </div><!-- .col-md-8 -->
    <div class="col-md-4">
     <section id="jungs-book">
      <div class="sidebox">
       <figure>
         <a href="http://psychclassics.yorku.ca/Jung/types.htm" target="_blank"
            title="Link to Jung's book available for free online at at psychclassics.yorku.ca">
           <img src="{{ url_for('static', filename='images/site/Carl_Jung-General_Description_of_the_Types.jpg') }}"
                class="sidebox-img"></a>
         <figcaption>
           General Description of the Types</figcaption>
       </figure>
       <p>
         You can find Jung's original work for a
         <a href="https://www.amazon.com/General-Description-Types-Carl-Jung-ebook/dp/B004M8T16K" target="_blank"
            title="Link to Jung's book for sale at a very moderate price on amazon.com">
           moderate price</a>
         or even for
         <a href="http://psychclassics.yorku.ca/Jung/types.htm" target="_blank"
            title="Link to Jung's book available for free online at at psychclassics.yorku.ca">
           free online</a>
         However, it was written in a different time and is very difficult to read.
         I recommend you pick up a copy of Isabel Myers-Briggs or David Keirsey's book instead</p>
      </div><!-- .sidebox -->
     </section><!-- #jungs-book -->
    </div><!-- .col-md-4 -->
   </div><!-- .row -->

   {{ super() }}

  </div><!-- .container -->
 </main>
{% endblock %}
