{% extends "base.html" %}
{% block title %}Books and Sites{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    </style>
{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <section id="books-and-sites">
            <h3>Books and Sites</h3>
            <p>
              Books and sites blah blah blah.
              </p>
          </section><!-- #books-and-sites -->
        </div><!-- .col-md-12 -->
      </div><!-- .row -->

      <div class="row">
        <div class="col-md-8">
          <section id="books">
            <h4>Books</h4>
            <p>
              These books were instrumental in conceiving and implementing the Groja &copy; program.
              </p>
            <dl class="standalone">
              <dt>
                Jung, Carl. (1921) <em>Psychological Types.</em></dt>
              <dd>
                For more information, see the sidebar.</dd>
              <dt>
                Myers, Isabel Briggs and Myers, Peter. (1980) <em>Gifts Differing.</em></dt>
              <dd>
                The name sake behind the Myers-Briggs Type Indicator (MBTI) Isabel Briggs Myers' work makes
                 Jung's theories easier to understand and even more practical.</dd>
              <dt>
                Keirsey, David. (1984) <em>Please Understand Me.</em></dt>
              <dd>
                This book is nice because it has a very nice quiz that can be taken fairly quickly.</dd>
              <dt>
                Keirsey, David. (1998) <em>Please Understand Me II.</em></dt>
              <dd>
                An updated edition that contains the same quiz but delves more deeply into
                 the descriptions of how people of different types interact.</dd>
            </dl>
            <p>
              You can find a copy of any of these at
               <a href="http://www.amazon.com" title="Amazon.com home page" target="_blank">amazon.com</a>.
              </p>
            <h4>Sites</h4>
            <p>
              Much of this information is now online, and the
               <a href="" title="" target="_blank">wikipedia</a>
               is as good a place as any to get started.
              </p>
            <p>
              Here are just a few other sites.
              </p>
            <dl class="standalone">
              <dt>
                Jung, Carl.  (1921) Psychological Types</dt>
              <dd>
                The one that started it all...</dd>
              <dt>
                Myers-Briggs</dt>
              <dd>
                Making Jung's theories easier to understand and even more practical...</dd>
              <dt>
                Keirsey</dt>
              <dd>
                The one with the quick quiz and archetypes...</dd>
              <dt>
                Keirsey</dt>
              <dd>
                The one with the quick quiz and archetypes...</dd>
            </dl>
          </section><!-- #books -->
        </div><!-- .col-md-8 -->
        <div class="col-md-4">
          <section id="jungs-book">
            <div class="sidebox">
              <figure>
                <a href="http://psychclassics.yorku.ca/Jung/types.htm" target="_blank"
                   title="Link to Jung's book available for free online at at psychclassics.yorku.ca">
                  <img src="{{ url_for('static', filename='images/site/Carl_Jung-General_Description_of_the_Types.jpg') }}"
                       class="sidebox-img"></a>
                <figcaption>
                  General Description of the Types</figcaption>
              </figure>
              <p>
                You can find Jung's original work for a
                <a href="https://www.amazon.com/General-Description-Types-Carl-Jung-ebook/dp/B004M8T16K" target="_blank"
                   title="Link to Jung's book for sale at a very moderate price on amazon.com">
                  moderate price</a>
                or even for
                <a href="http://psychclassics.yorku.ca/Jung/types.htm" target="_blank"
                   title="Link to Jung's book available for free online at at psychclassics.yorku.ca">
                  free online</a>
                However, it was written in a different time and is very difficult to read.
                I recommend you pick up a copy of Isabel Myers-Briggs or David Keirsey's book instead</p>
            </div><!-- .sidebox -->
          </section><!-- #jungs-book -->
        </div><!-- .col-md-4 -->
      </div><!-- .row -->

      <div class="row">
        <div class="col-md-12">
          <section id="sites">
            <h4>Sites</h4>
            <p>
              Sites, etc. etc. etc.
              </p>
            <dl class="standalone">
              <dt>
                <a href="http://www.humanmetrics.com/">humanmetrics.com</a></dt>
              <dd>
                One of my favorites that has been around for awhile ....</dd>
            </dl>
            <p>
              All this should keep you busy for awhile!
              </p>
          </section><!-- #sites -->
        </div><!-- .col-md-12 -->
      </div><!-- .row -->

    {{ super() }}

    </div><!-- .container -->
  </main>
{% endblock %}
